{% extends "base.html" %}

{% block title %}
    Face - {{ face.title }}
{% endblock %}

{% block body %}
    <section class="section container">
        <nav class="panel is-black">
            <p class="panel-heading">
                {{ face.title }}
            </p>
            <div id="face-canvas"></div>

            <!--- Canvas View Script --->
            <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
            <script>
                let canvas
                let eyeWidth = {{ face.eyeWidth }}
                let eyeHeight = {{ face.eyeHeight }}
                let happiness = {{ face.happiness }}
                let smileWidth = {{ face.smileWidth }}

                function setup() {
                    canvas = createCanvas(500, 500)
                    canvas.parent("face-canvas")
                }

                function draw() {
                    smooth()
                    background(255, 255, 255)
                    fill(255)
                    strokeWeight(5)
                    ellipse(250, 250, 400)
                    fill(0)
                    ellipse(150, 200, eyeWidth, eyeHeight)
                    ellipse(350, 200, eyeWidth, eyeHeight)
                    fill(0, 0, 0, 0)
                    bezier(
                        150 - smileWidth, 300,
                        250, 300 + happiness,
                        350 + smileWidth, 300, // function needs to have 4 args
                        350 + smileWidth, 300 // this is a clone arg
                    )
                }

                setInterval(() => {
                    if (canvas) {
                        canvas.elt.style.width = "35%"
                        canvas.elt.style.height = "35%"
                    }
                }, 1)
            </script>
			<label class="label">If you want to save this smiley, right click it, and save!</label>
            <div class="panel-block">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field is-grouped">
                        <p class="control has-icons-left">
                            <input class="input" id="content" name="content" placeholder="Leave a comment" required autocomplete="off">
                            <span class="icon is-left">
                                <i class="fas fa-comments"></i>
                            </span>
                        </p>
                        <input class="button is-black" type="submit" value="Comment">
                    </div>
                </form>
            </div>
            {% with comments=face.comments.all %}
                {% for comment in comments %}
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-comment"></i>
                        </span>
                        {{ comment.content }}
                    </a>
                {% endfor %}
            {% endwith %}
        </nav>
    </section>
{% endblock %}