{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-black">
        <div class="hero-body">
            <div class="container">
                <div class="title">
                    Smiley Generator
                </div>
                <div class="subtitle">
                    <b>Create</b> some cool smilies!
                </div>
            </div>
        </div>
    </section>
    <footer class="hero is-black footer">
        <div class="content has-text-centered is-black">
            <p>
                <div class="hero-body">
                    <div class="container">
                        <div class="title is-4">
							<a href="https://github.com/AyushSharma255/smiley">GitHub Repo</a>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </footer>
{% endblock %}